<!DOCTYPE html>
<html>
<head>
  <title><%= $app_name %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div style="overflow: hidden;">
  <% if user_signed_in? %>
      <% @logo = Object.const_defined?("Business") ? Business.find(current_user.business_id).logo_url : "/images/sparton.jpg" %>
      <div style="float:left">
        <img src="<%= @logo %>" height="25"/>
        <% (3..$models.size()-1).each do |ii| model = $models[ii].to_s %>
            <% if can? :read, model.constantize %>
                <%= link_to "#{model}", "/#{model.underscore.pluralize}" %> |
            <% end %>
        <% end %>

        <% if current_user.super_admin_role? %>
            <%= link_to 'admin', rails_admin_path %>
        <% end %>
      </div>
      <div style="float:right">

        <%= link_to(current_user.email, edit_user_registration_path) %> |
        <%= link_to('Log out', destroy_user_session_path, :method => :delete) %>
        <% if current_user.super_admin_role? %>
            <br><%= "yea, you are a super admin"%>
        <% end %>
      </div>
  <% else %>
      <img src="/images/sparton.jpg" height="25"/>
      <%= link_to('Sign up', new_user_registration_path)  %> |
      <%= link_to('Log in', new_user_session_path)  %>
  <% end %>
  <br/>
  <% unless flash.empty? %>
      <script type="text/javascript">
          <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
      </script>
  <% end %>
</div>
<br/>
<%= yield %>
</body>
</html>
