<p id="notice"><%= notice %></p>
<h1>  <%= (session[:update] =='true') ? "Newest Results" : "Results" %><span id="hb"></span> </h1>

<%= link_to 'New Result', new_result_path %> |
<%= link_to 'Show Newest Result', result_path({:id => @results.first, :update => true} ) %> |
<%= link_to 'List Newest Results', results_path({:update => true} ) %>

<table id="results-table">
  <thead>
    <tr>
      <th>User</th>
      <th>Patient</th>
      <th>Business</th>
      <th>Device</th>
      <th>Consumable</th>
      <th>Value</th>
      <th>Result datetime</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.user.full_name  %></td>
        <td><%= link_to result.patient.full_name, "/patients/#{result.patient_id}"  %></td>
        <td><%= link_to result.business.name, "/businesses/#{result.business_id}"  %></td>
        <td><%= link_to result.device.serial_number, "/devices/#{result.device_id}"  %></td>
        <td><%= link_to result.consumable.udi, "/consumables/#{result.consumable_id}"  %></td>
        <td><%= result.value %></td>
        <td><%= result.result_datetime %></td>
        <td><%= result.notes %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
/*
    function getParameterByName(name, url) {
        if (!url) {
            url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
*/
  <% if @update =='true' %>
    // flash highlight the first table row if we are continuously updating.
    $("#results-table tbody tr:first").css("background-color", "#ffffcc");
    setTimeout(function() {
        $("#results-table tbody tr:first").css("background-color", "white");
    }, 2000);

    // poll server to see if new results have been recorded.  Reload page if so.
    var xhr;
    (function pollServerForNewResults() {
        if(xhr && xhr.readyState != 4){
            xhr.abort();
        }
        xhr = $.ajax({
            url: '/results/last_update.json',
            success: function(response) {
               if(response.refresh) {
                   window.location = "/results?update=true";
               }
               hb = document.getElementById("hb");
               hb.innerText = (hb.innerText.length == 0) ? "." : "";
               setTimeout(pollServerForNewResults, 2000+Math.random());
            },
            error: function(response) {
                alert("error");
            }
        });
    }());
  <% end %>

</script>
