<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @result.user %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @result.patient %>
</p>

<p>
  <strong>Business:</strong>
  <%= @result.business %>
</p>

<p>
  <strong>Device:</strong>
  <%= @result.device %>
</p>

<p>
  <strong>Consumable:</strong>
  <%= @result.consumable %>
</p>

<p>
  <strong>Value:</strong>
  <%= @result.value %>
</p>

<p>
  <strong>Result datetime:</strong>
  <%= @result.result_datetime %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @result.notes %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
